/.git/
/.idea/
/测试/
/venv/
/bug/
/有待更新.docx
/用前必读.txt

/src/.idea/
**/__pycache__/
/src/build/
/src/dist/
/src/venv/
/src/test.py

*.spec

*.ini

/src/*.ico
/src/*.png

/src/*.txt
!/src/StaticFiles/【素人车牌】.txt
